.mybag{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.h2mybag{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.cartItems{
    display: flex;
    margin-bottom: 50px;
    border: 2px yellow solid;
}

.cartImgContainer {
    width: 130px;
    height: 145px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;    
}
  
.cartImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.cartTitleContainer{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.cartInfoContainer{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}
.priceAndQtyContainer{
    display: flex;
}

.priceContainer, .qtyContainer, .sumContainer{
    margin: 0 10px;
}