.mybag{
    display: flex;
    flex-direction: column;
    text-align: left;
}
.h2mybag{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}
.cartItems{
    display: flex;
    width: 100%;
    margin-bottom: 50px;
}
.cartImgContainer {
    width: 20%;
    height: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.cartImg {
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.cartTitleContainer{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    width: 20%;
}
.cartInfoContainer{
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    width: 60%;
    
}
.priceAndQtyContainer{
    display: flex;
    height: 70%;
    width: 100%;
}
.priceContainer, .qtyContainer, .sumContainer{
    margin: 0 10px;
    width: 33.3%;
}

.removeButtonDiv{
    display: flex;
    justify-content: flex-end;
    padding-right: 50px;
}
.removeButton{
    background-color: white;
    border: 1px solid #83884E;
}