.weddingmenu{
    display: flex;
    flex-direction: column;
    height: 75vh;
    width: 100%;
    margin: 30px 0;
}
/* .weddingmenuh2{
    margin: 30px 0 20px 0;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
    height: 10%;
} */
.weddingmenuContainers{
    padding: 5px 0;
    display: flex;
    height: 100%;
    width: 100%;
}

.weddingmenuContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    padding: 5px;
}

.weddingmenuImg{
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 1s ease;
}

.weddingmenuImg:hover {
    transform: scale(1.1); /* Add zoom effect on hover - adjust scale value as needed */
}
  

.weddingmenuTitle{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 85%;
    transform: translateY(-50%);
    color: #fff; 
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 24px;
    z-index: 1;
}

.weddingmenuLink {
    position: absolute;
    width: 30%; 
    height: 5%; 
    top: 90%;
    left: 35%;
    background-color: #83884E;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.weddingmenuShopSign{
    text-decoration: none;
    color: #fff;
}