.InSideBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    width: 80%;

}

.profile-image {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 50%;

}

.booking-image {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    border-radius: 1em;
}

.cardGrid{
    margin: 20px;
    width: 20%;
}

.hostListing{
    display: flex;
    justify-content: space-around;
}

.booking {
    margin: 20px;
    padding: 15px;
    display: flex;
    align-content: baseline;
}
.booking-row {
    width: 60%
}
.booking-col {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.text-left {
    text-align: left;
}

.progress {
    width: 150px;
    height: 2px;
    color: black;
   
}

.rating-bar {
    height: 30px;
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-self: center;
    align-items: center;
}

.rating-bar-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

.review {
    border-radius: 1em;
    width: 70%;
    margin: 20px;
    display: flex;
    align-content: baseline;
}

.bar-num {
    display: flex;
    width: 60%;
    align-items: center;
    justify-content: flex-end;
}

.text-center {
    display: flex;
    align-self: center;
    text-align: center;
}

.modal-background {
    background-color: transparent;
}

.sorted-button {
    display: flex;
    justify-content: flex-end;
    margin: 20px;

}

.comment-section {
    border-radius: 5px;
    margin:20px;
    text-align: justify;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);

}
