.accountinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}
.accountinfoTitle{
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 30px;
    padding:0 30px;
}

.accountinfoUser{
    margin-bottom: 10px;
}

.accountinfoButton{
    margin-top: 20px;
}