.bookingMain{
    border-radius: 20px;
    border: #ccc 1px solid;
    padding: 15px 10px;
    font-size: 16px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 6px 16px;
}

.bookingPrice{
    font-size: 22px;
    font-weight: 600;
}

.bookingForm{
    margin: 10px 0;
}

.priceDisplay{
    display: flex;
    flex-direction: column;
}
.serviceFee, .taxes, .ttlPrice {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
.bookingButton{
    margin: 10px 0;
    background-color: #FF9400;;
    border: none;
    color: white;
    font-weight:bolder;
    height: 50px;
    font-size: 18px;
    border-radius: 10px;
}
.inputContainer{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
.inputDates{
    display: flex;
    flex-direction: row;
}
.inputDates > div {
    width: 50%;
}
input{
    /* Add your desired styles here */
    border: 1px solid #ccc;
    padding: 5px 10px;
    width: 100%;
  }
 
.rcptGreeting{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}
  .rcptTtlPrice, .rcptNight, .rcptDate{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 0 15px;
  }