.bookingCalendar {

margin-top: -10px;
width: 100%;
font-size: 18px;
}

.bookingCalendar .react-datepicker__month-container {
  width: 50%;
  height: 80%; /* Adjust the width as needed */
}

.bookingCalendar .react-datepicker__day-names {
  font-size: 27px;
  /* Adjust the font size as needed */
}

.bookingCalendar .react-datepicker__day {
  font-size: 27px; /* Adjust the font size as needed */
 
}
.bookingCalendar .react-datepicker__current-month {
  font-size: 20px; /* Adjust the font size as needed */
}