.hostInfo {
    display: flex;
    flex-direction: column;
}

.ImgAndDescription{
    display: flex;
    gap: 40px;
}

.hostImgContainer{
    height: 150px;
    width: 150px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}

.hostImg{
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
}

.hostDescriptionAndJob{
   width: 75%;
   margin-top: 5px;
}

.description, .job{
    margin-bottom: 5px;
}