.propertyItem{
    margin: 5px;
    
}

.cardBody{
    padding: 5px 0 5px 0;
}

.cardTitle{
    font-size: 12px;
    padding: 0;
    text-align: left;
    font-weight: 700;
}

.cardText{
    font-size: 12px;
    padding: 0;
    text-align: left;
}