.noUnderLine{
    text-decoration: none;
}
.propertyItem{
    margin: 5px;
    font-size: 10px;
}

.propertyitemCardBody.card-body{
    padding: 0;
    font-size: 14px;
    margin-top: 10px;
}
.propertyitemLocation.card-text{
    text-align: left;
    margin: 0 0 2px 0;
    font-weight: 700;
}

.propertyitemTitle.card-text{
    text-align: left;
    margin: 0 0 2px 0;
}

.propertyitemPriceNumber.card-text{
    text-align: left;
    margin: 0 0 2px 0;
    font-weight: 700;
}

.propertyitemPriceText.card-text{
    text-align: left;
    margin: 0 0 2px 2px;
}

.imgContainer{
    position: relative;
    width: 100%;
    padding-top: 100%; /* Maintain 1:1 aspect ratio */
}


.propertyitem .card-img-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.inlineLocationRating{
    display: flex;
    justify-content: space-between;
}

.inlinePrice{
    display: flex;
}