 .reviewCard{
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
 }

 .comments{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
 }

 .reviewer-pro{
    border: 1px solid lightgrey;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    overflow: 'hidden';
    
 }

 .title {
    display: flex;
 }

 .createdAt {
    color: grey;
    font-size: 10px;
 }

 .comments-box{
    display: flex;
    width: 90%;
    flex-direction: row ;
    height: auto
    
 }

 .review-comments{
    padding: 10px;
 }

 .title-card-title-h5{
    margin-bottom: 3px;
 }
 .review-container-scroll {
    max-height: 300px; /* Adjust the height as needed */
    overflow-y: auto;
  }

.reviewNumber{
   font-size: 22px;
   font-weight: 600;
   margin-bottom: 10px;
}

  p.card-text{
   margin-left: 5px;
  }