.about{
    display: flex;
    flex-direction: column;
}
.aboutImgDiv{
    display: flex;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    display: flex;   
    position: relative;
    margin-bottom: 50px;
}
.aboutImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.aboutImgTitle {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%);
    font-size: large;
    color: white;
    font-weight: bold;
    text-align: center;
}

.aboutTitle1{
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}
.aboutP1{
    display: flex;
    margin: 50px 0;
}
.aboutP1Ps{
    display: flex;
    width: 50%;
    flex-direction: column;
    padding: 0 50px;
    justify-content: center;
}
.aboutP1P{

}

.aboutP1ImgDiv {
    width: 50%;
    height: 70vh;
    overflow: hidden;
    position: relative;
  }
  
  .aboutP1Img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 1.5s ease;
  }
  
  .aboutP1ImgDiv:hover .aboutP1Img {
    transform: scale(1.1); /* Increase the scale value to zoom in further */
  }
  