.account{
    display: flex;
    width: 90%;
    height: calc(100vh - 300px);
}
.accountLeftDiv{
    display: flex;
    width: 20%;
    align-items: center;
    text-align: left;
}
.accountRightDiv{
    display: flex;
    width: 80%;
    justify-content: center;
    overflow-y: auto;
    height: 100%; 
}

.emptyBar{
    background-color: rgba(0, 0, 0, 0.5);
    width: 1px;
}