.bouquet{
    display: flex;
    flex-direction: column;
}
.pagesMain1{
    display: flex;
    flex-direction: row;
}
.pagesMain2{
    display: flex;
    flex-direction: row;
    
}
.imgContainer{
    
    width: 70%;
    
}
.pageContextContainer{
    
    width: 30%;

}

 .pagesImg{
    width: 70%;
 }