.bouquet{
    display: flex;
    flex-direction: column;
    /* width: 100%; */
}
.bouqueth2{
    margin: 30px 0 20px 0;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 3px;
}
.bouquetContainers{
    display: flex;
    height: 100%;
    width: 100%;
    overflow: hidden;
    /* justify-content: center;
    align-content: center; */
}

.bouquetContainer {
    display: flex;
    height: 100%;
    width: 100%;
    margin: 5px;
    position: relative;
    overflow: hidden;
}

.bouquetImg{
    width: 100%;
    object-fit: cover;
}

.bouquetTitle{
    position: absolute;
    width: 100%;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
    color: #fff; 
    font-weight: bolder;
    letter-spacing: 2px;
    font-size: 24px;
    z-index: 1;
}

.bouquetLink {
    position: absolute;
    width: 20%; 
    height: 5%; 
    top: 55%;
    left: 40%;
    background-color: #83884E;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

.bouquetShopSign{
    text-decoration: none;
    color: #fff;
}