.cart{
    display: flex;
    width: 90%;

}

.mybag{
    width: 70%;
}
.cartOrderSummaryContainer{
    width: 30%;
}

.emptyCart {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 350px);
    justify-content: center;
    margin-left: 50px;
}

.emptyCartTitle{
    font-size: 20px;
    margin-bottom: 10px;
}
.cartButtonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100px;
    background-color: #83884E;
}
.cartCheckOutButtonDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #83884E;
    height: 35px;
}

.cartCheckOutButton{
    text-decoration: none;
    color: white;
    font-weight: bold;
}