.eachProduct{
    display: flex;
    width: 90%;
    margin-top: 40px;
    padding-bottom: 40px;
 }

.eachProductImgContainer{
    width: 40%;
    height: calc(100vh - 380px);
    overflow: hidden;
    display: flex;   
}
.eachProductImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.eachProductInfoContainer{
    width: 60%;
    padding: 0 30px;
    text-align: left;
}

.eachProductTitle{
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.eachProductPrice{
    font-size: 18px;
    margin-bottom: 30px;
}
.eachProductDescription{
    margin-bottom: 50px;
}
