.propertyMain{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: left;
    font-size: 16px;
    margin-top: 120px;
}
.eachProperty{
    width: 80%;
}

.eachPropertyTitle{
    margin: 0 0 10px 0;
    font-weight: 700;
}

.secRow{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-weight: 600;
    text-decoration: underline;
}
.RatingAndLocation{
    margin-right: 15px;
}
.secRowLike{
    margin-right: 3px;
}

.proertyImgRow{
    display: flex;
    height: 500px;
    margin-bottom: 30px;
}
.propertyImgColMain{
    width: 50%;
    padding-right: 3px;
}
.propertyImgCol{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}
.eachProperty-imgMain{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.eachProperty-imgs1{
    flex-basis: calc(20%);
    height: 49.6%;
    width: 49%;
    object-fit: cover;
    margin-bottom: 3px;
    margin-right: 3px;
}
.eachProperty-imgs2{
    flex-basis: calc(20%);
    height: 49.6%;
    width: 49%;
    object-fit: cover;
    margin-bottom: 3px;
}
.eachProperty-imgs3{
    flex-basis: calc(20%);
    height: 49.6%;
    width: 49%;
    object-fit: cover;
    margin-right: 3px;
}
.eachProperty-imgs4{
    flex-basis: calc(20%);
    height: 49.6%;
    width: 49%;
    object-fit: cover;
}

.propertyInfoAndBooking{
    display: flex;
    
}
.propertyInfo{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-right: 30px;
}
.propertyHost{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 7px;
}
.propertyRooms{
    margin-bottom: 10px;
}
.propertyOffers{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 7px;
}
.propertyOffersList{
    margin: 0 0 15px 10px;
}

.calendar{
    display: flex;
    height: auto;
    margin: 15px 0 20px 0;
}

.bookingComponent{
    width: 30%;
}

.map{
    margin-bottom: 65px;
}
.mapTitle{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.hostTitle{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}