.propertyMain{
    display: flex;
    justify-content:center;
    align-items: center;
    text-align: left;
    font-size: 16px;
}
.eachProperty{
    width: 80%;
    margin-top: 120px;
}

.eachPropertyTitle{
    margin: 0 0 10px 0;
    font-weight: 700;
}

.secRow{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    font-weight: 600;
    text-decoration: underline;
}
.RatingAndLocation{
    margin-right: 15px;
}
.secRowLike{
    margin-right: 3px;
}

.proertyImgRow{
    display: flex;
    height: 400px;
    margin-bottom: 30px;
}
.propertyImgColMain{
    width: 50%;
    padding-right: 3px;
}
.propertyImgCol{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 3px;
}
.eachProperty-imgMain{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.eachProperty-imgs{
    flex-basis: calc(25% - 3px);
    height: 50%;
    width: calc(50% - 3px);
    object-fit: cover;
}

.propertyInfoAndBooking{
    display: flex;
    
}
.propertyInfo{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding-right: 30px;
}
.propertyHost{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 7px;
}
.propertyRooms{
    margin-bottom: 10px;
}
.propertyOffers{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 7px;
}
.propertyOffersList{
    margin: 0 0 15px 10px;
}

.calendar{
    border: green 3px solid;
}

.bookingComponent{
    width: 30%;
}

.map{
    border: yellow 3px solid;
}

