.eachProduct{
    display: flex;
    width: 90%;
 }

.eachProductImgContainer{
    width: 480px;
    height: 500px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;    
}
  
.eachProductImg {
    height: 100%;
    object-fit: contain;
}
