
.dashboard {
    height: 90vh;
    width: 98%;
    margin: 20px;
    text-align: center;
    display: grid;
    grid-gap: 50px;
    grid-template-rows: repeat(12, 1fr);
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 20px;
  }

  .SideBar {
    border: 1px lightgrey solid;
    border-radius: 2em;
    grid-row: 2/15;
    grid-column: 1/2;
  }

  .ButtonBar {
    border: 1px lightgrey solid;
    border-radius: 2em;
    grid-row: 2/3;
    grid-column: 2/6;
    display: flex;
    align-items: center;
  }

  .MainSection {
    border: 1px lightgrey solid;
    border-radius: 2em;
    grid-row: 3/15;
    grid-column: 2/6;
  }

  .button-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%
  }
  .no-outline{
    border: 1px solid transparent;
    outline: none;
    box-shadow: none;
  }
  .container-scroll {
    max-height: 800px; /* Adjust the height as needed */
    overflow-y: auto;
  }

  
