.selfcare{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.pagesMain1,
.pagesMain2,
.pagesMain3,
.pagesMain4 {
    display: flex;
    flex-direction: row;
}
.imgContainer{
    
    width: 70%;
    
}
.pageContextContainer{
    
    width: 30%;

}

 .pagesImg{
    width: 70%;
 }