.secondslideshow {
    height: 50vh;
    width: 60%;
}
.carousel.slide{
    height: 100%;
    width: 100%;
}
.carousel-inner{
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
}

.secondslideshowImage {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
} 
.carousel-caption{
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 7.25rem;
}
.secondslideLinkContainer{
    background-color: #83884E;
    height: 35px;
    width:120px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.secondslideLinks{
    text-decoration: none;
    color: white;
}

.secondslideshowTitle{
    font-weight: bold;
}