.productitem {
    background-color: #F5F1EA;
}

.productItemImgContainer{
    width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 130%; 
}

.productItemItemImg {
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


.productItemCardBody{
    display: flex;
    justify-content: space-between;
}

.productitemTitle{
    font-weight: bold;
}