.mainNavBar{
  display: flex;
  flex-direction: column;
  background-color: #F2ECE2;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
.navMain{
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 80px;
}

.navLinks{
  display: flex;
}
.navLink{
  margin: 10px;
  text-decoration: none;
  color: black;
}

.logoImg{
  height: 70px;
  margin: 15px 30px;
} 

.dropDown{
  width: 20%;
  display: flex;
  justify-content: flex-end;
}

.label-sm {
    font-size: 12px;
    margin-bottom: 0;
  }
  
.nav-btn{
    width: 60px;
    height: 60px;
}

.searchoutline {
  border: 2px solid light rgb(0, 0, 0);
}

.dropdownTitle{
  font-size: 22px;
}

.emptyDiv{
  height: 1px;
  background-color: rgb(205, 205, 205);
  margin-top: 100px;
}