.label-sm {
    font-size: 12px;
    margin-bottom: 0;
  }
  


.nav-btn{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}