.mainNavBar{
  display: flex;
  background-color: #F2ECE2;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
  align-items: center;
  height: 100px;
}

.logo{
  width: 15%;
}
.navRight{
  width: 15%;
  display: flex;
  align-items: center;
}

.navMain{
  display: flex;
  align-items: center;
  margin: 0 80px;
}

.navLinks{
  display: flex;
  width: 70%;
}
.navLink{
  margin: 10px;
  text-decoration: none;
  color: black;
}

.logoImg{
  height: 70px;
  margin: 15px 30px;
} 

.dropDown{
  width: 15%;
  display: flex;
  justify-content: flex-end;
}
 
.cartPathLink{
  margin: 10px;
  text-decoration: none;
  color: black;
}